<div id="container">
  <strong>{{ name }}</strong>
  <ion-button (click)="start()">Click</ion-button>
  <ion-card>
    <ion-card-header>{{deviceId}}</ion-card-header>
    <ion-card-content>
     <p>Device model: {{deviceInfo}}</p>
     <!-- <p>Device manufacturer: {{deviceInfo?.manufacturer}}</p>
     <p>Device architecture: {{deviceInfo?.architecture}}</p> -->
    </ion-card-content>
  </ion-card>
  <p>Explore <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
</div>